mat-toolbar {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0px;
  height: 64px;
  padding: 0;
  margin: 0; 


  img {
    height: 70%;
    margin-left: 10px;
    max-width: 200px;
  }
  ul {
    margin-left: auto;
    padding: 0;
    list-style-type: none;
    height: 100%;
    li {
      display: inline-block;
      height: 100%;
      width: auto;
      min-width: 80px;
      padding: 0;
      margin: 0;     
      a {
        text-decoration: none;
        text-align: center;
        height: 100%;
        display: block;
        color: #fafafa;
        &:hover, &.link-active{
          background-color: rgba(0, 0, 0, 0.4);
        }
        margin-top-icon {
          display: block;
          text-align: center;
          line-height: 64px;
          width: 100%;
          height: 100%;
          color: #ffffff;
        }
      }
      @media screen and (max-width: 660px) {
        width: 50px;
        a {
          span {
            display: none;
          }
        }
      }
      @media screen and (max-width: 450px) {
        width: 40px;
      }
    }
  }
}

.menu-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    mat-icon {
      margin-top: 16px;
    }
}

.mat-button {
  color: white;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.5s;
    &:hover {
      color: #f1f1f1;
    }
  }
}

#main {
  transition: margin-left .5s;
}

.hamburger {
  color: #fff;
  font-size: 30px;
  margin-left: 20px;
  cursor: pointer;
}
.closeHamburger {
  color: #fff;
  font-size: 40px;
  margin-left: 20px;
  cursor: pointer;
}