<form #changePassword="ngForm" (ngSubmit)="onChangePassword(newPassword.value, confirmedPassword.value)" class="container">
  <mat-card>
    <mat-card-title>
      <mat-icon>vpn_key</mat-icon>
      <span>Reset Password</span>
    </mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <input matInput
          required="required"
          pattern=".{6,30}"
          type="password"
          placeholder="New Password"
          #newPassword />
      </mat-form-field>
      <mat-form-field>
        <input matInput
          required="required"
          pattern=".{6,30}"
          type="password"
          placeholder="Confirm Password"
          #confirmedPassword />
      </mat-form-field>
      <div class="alert alert-danger" *ngIf="!passwordsMatch">
         <mat-icon>warning</mat-icon>
         {{warning}}
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        type="submit" color="primary">
        <span>Confirm</span>
      </button>
    </mat-card-actions>
  </mat-card>
</form>