<h2>All Dummy <a [routerLink]="['/'+dummyService.module+'/create']" routerLinkActive="link-active" class="btn btn-primary pull-right">Create</a></h2>

<table class="table table-hover">
  <thead>
  <tr>
      <td (click)="sortResults('column_1');">Column 1</td>
      <td (click)="sortResults('column_2');">Column 2</td>
      <td (click)="sortResults('column_3');">Column 3</td>
      <td colspan="2" class="pull-right">Actions</td>
  </tr>
  </thead>

  <tbody>
      <tr *ngFor="let dummy of dummies">
          <td>{{ dummy.column_1 }}</td>
          <td>{{ dummy.column_1 }}</td>
          <td>{{ dummy.column_3 }}</td>
          <td colspan="2" class="pull-right">
            <a [routerLink]="['/'+dummyService.module+'/edit', dummy.unique_column]" routerLinkActive="link-active" class="btn btn-primary mr-2">Edit</a>
            <button (click)="destroy(dummy.unique_column)" class="btn btn-danger">Delete</button>
          </td>
      </tr>
  </tbody>
</table>
<nav aria-label="Page navigation example" *ngIf="paginate">
  <ul class="pagination justify-content-end">
    <li class="page-item" [ngClass]="{'disabled':paginate.current_page<=1}">
      <a class="page-link" [routerLink]="['/'+dummyService.module+'/all', 1]" tabindex="-1"><<</a>
    </li>

    <li *ngFor="let page of paginate.pages" class="page-item" [ngClass]="{'disabled':paginate.current_page==page}"><a class="page-link" [routerLink]="['/'+dummyService.module+'/all', page]">{{page}}</a></li>
    

    <li class="page-item" [ngClass]="{'disabled':paginate.next_page_url==null}">
      <a class="page-link" [routerLink]="['/'+dummyService.module+'/all', paginate.last_page]">>></a>
    </li>
  </ul>
</nav>