<form *ngIf='!message' name="form" #f="ngForm" (ngSubmit)="f.form.valid && sendEmail()" 
class="container">
  <mat-card>
    <mat-card-title>
      <mat-icon>vpn_key</mat-icon>
      <span>Forgot Password?</span>
    </mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <input matInput
          [(ngModel)]="email"
          name="email"
          pattern="^\S+@\S+$"
          required="required"
          placeholder="Email"
          #emailField="ngModel" />
      </mat-form-field>
      <div class="alert alert-danger" *ngIf="(f.submitted && !emailField.valid) || emailNotFound">
      	<mat-icon>warning</mat-icon>
       	{{error}}
  	  </div>
    </mat-card-content>
    <mat-card-actions>
    <button *ngIf="!waiting"
      mat-raised-button
      type="submit" color="primary">
      <span>Confirm</span>
    </button>
    <button *ngIf="waiting"
      mat-raised-button disabled
      type="submit" color="primary">
      <span>
        <img src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
      </span>
    </button>
    </mat-card-actions>
  </mat-card>
</form>

<div *ngIf='message' class='container'>
  <mat-card>
    <mat-card-title>
      <mat-icon>mail</mat-icon>
      <span class="text-center">We sent you an email with password reset link.</span>
    </mat-card-title>
    <mat-card-actions>
    <a mat-raised-button color="primary"
    	[routerLink]="['/']" routerLinkActive="link-active">
      Ok
    </a>
    </mat-card-actions>
  </mat-card>
</div>